HocWeb-Be/.vs
HocWeb-Be/HocWeb.Api/bin
HocWeb-Be/HocWeb.Api/obj
HocWeb-Be/HocWeb.Infrastructure/bin
HocWeb-Be/HocWeb.Infrastructure/obj
HocWeb-Be/HocWeb.Service/bin
Shop_Source/MultiShop/.cr
HocWeb-Be/HocWeb.Service/obj
Shop_Source/MultiShop/.vs
Shop_Source/MultiShop/MultiShop/.vs
Shop_Source/MultiShop/MultiShop/bin
Shop_Source/MultiShop/MultiShop/obj
.vs
.vs/
HocWeb-Be/.cr
hoc-web/node_modules
hoc-web/.vite
hoc-web/.vscode

fe-ngoc/.vscode

HocWeb-Be/HocWeb.Api/Files

